.list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 8px;
}
.item {
  display: flex;
  max-width: 350px;
  justify-content: space-between;
  border: 1px solid #000;
  background-color: white;
  border-radius: 4px;

  padding: 20px;
  margin-bottom: 24px;
  width: calc((100% - 2 * 8px) / 3);
  border: px solid #61a8eb;
  box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5),
    10px 0 10px -10px rgba(0, 0, 0, 0.5), 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
