.container {
  display: flex;
  flex-wrap: wrap;
}

.title {
  margin-left: 20px;
  margin-top: 100px;

  width: 100%;
  font-size: 66px;

  text-align: center;
  color: #f24e5e;
  text-shadow: 1px 1px 0 #000000, 2px 2px 0 #777777, 3px 3px 0 #666666,
    4px 4px 0 #ffffff, 5px 5px 0 #555555, 6px 6px 0 #444444, 7px 7px 0 #333333,
    8px 8px 7px #111111;
}

.subTitle {
  margin-left: 250px;
  margin-top: 50px;
  width: 100%;
  font-size: 30px;
  color: #2c3e50;
}
.btn {
  display: flex;
  margin-top: 50px;
  width: 100px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  border: 2px solid #bab5b5;
  outline: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  justify-content: space-evenly;
  cursor: pointer;
  background-color: #2c3e50;
  color: whitesmoke;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  font-size: 15px;
  font-weight: 500;
  background-color: #61a8eb;
  color: black;
  border: 2px solid #a09797;
}
